@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Exo+2:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
body {
  font: 16px 'Crimson Text', serif;
}
footer a:hover {
  color: #fff;
}
footer {
  background: #111;
  color: #fff;
  padding: 1rem 0;
  margin-top: 1rem;
}
footer img {
  max-width: 115px;
}
@media screen and (min-width: 992px) {
  footer {
    margin-top: 3rem;
    padding: 2rem 0;
  }
}
footer > div {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 992px) {
  footer > div {
    padding: 0;
  }
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.nav-drawer ul li,
footer ul li {
  margin-right: 1rem;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 0.6rem;
  transition: all 300ms ease-out;
}
.nav-drawer ul li {
  font-size: 1rem;
  margin: 0;
}

.nav-drawer ul li a,
footer ul li a {
  color: #fff;
}
@media screen and (min-width: 992px) {
  footer ul li {
    font-size: 1rem;
    margin-right: 2rem;
  }
  .nav-drawer ul li,
  footer ul li {
    opacity: 0.5;
  }
}
footer ul li:hover {
  opacity: 1;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.ant-row {
  margin: 0 !important;
}
.ant-col {
  margin-top: 1rem;
  width: 100%;
}
.embedly-card {
  margin-top: 2rem;
}
.nav-drawer .ant-drawer-content {
  background: #000;
}

.nav-drawer .ant-drawer-content-wrapper {
  width: 100vw !important;
}

.nav-drawer svg {
  cursor: pointer;
}

.nav-drawer-desktop .ant-drawer-content-wrapper {
  width: 100% !important;
  max-width: 380px;
}
.nav-drawer .ant-drawer-title div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-drawer .ant-drawer-content .drawer-items a {
  display: block;
  color: #f406dc;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-top: 1px solid #111;
  opacity: 0.7;
  transition: all 300ms ease-out;
}

.nav-drawer .ant-drawer-title {
  padding: 1rem;
}

.nav-drawer ul:last-child {
  display: none;
}

.nav-drawer .ant-drawer-title img {
  width: 80px;
}

.nav-drawer .ant-drawer-content .drawer-items a:hover {
  opacity: 1;
}

.nav-drawer .nav-desktop {
  display: flex;
  flex-direction: column;
}

.nav-drawer ul li:last-child {
  order: -1;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #f4f4f4;
}

.nav-drawer .ant-drawer-header {
  background: #111;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-drawer .ant-drawer-body {
  padding: 1rem;
}

.nav-drawer .ant-drawer-body {
  display: flex;
  flex-direction: column;
}

.nav-drawer .ant-drawer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.8rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .ant-col {
    margin-top: 0;
  }
}
